$color-white: #ffffff;
$color-black: #000000;
$color-yellow-1: #f1e5d1;
$color-pink-1: #fee3ec;
$color-pink-2: #f9c5d5;
$color-pink-3: #f999b7;
$color-pink-4: #f2789f;
$color-pink-5: #f55386;
$color-red: #eb014b;
